body{
    font-family: 'Open Sans';
}
.brand-logo{
    width: 40px;
    height: 50px;
}
.nav-link{
    color: black;
    font-weight: bold;
}

.banner{
    background-image: url('/images/banner.webp');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bannerText{
    margin-top: 150px;
}