body{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
.brand-logo{
    width: 55px;
    height: 65px;
    border-radius: 5px;
}
.nav-link{
    color: black;
    font-weight: bold;
}

.banner{
    max-height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.top-banner-title{
    font-size: 50px;
    line-height: 50px;
    color: white;
    position: absolute;
    left: 15px;
    top: 2%;
    font-family: "georgiabold";
    font-weight: 700;
}
/* .backcolor{
    background-color: rgb(253, 253, 253);
} */
.backBanner{
    background-image: url('/ICE.JPG');
    max-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(9, 9, 9);
    /* position: fixed; */
    
}
.optimizeDiv{
    text-shadow: 2px 2px #ffffff;
}
.bannerUnderText{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: "georgiabold";
    font-weight: bolder;
    padding-top: 335px;
    text-shadow: 1px 1px rgb(149, 128, 128);
}
.backBanner:hover{
    color: rgb(255, 255, 255);
    background-color: transparent;
}

/* home section under text */
.homeUnderText{
    border: 3px solid black;
    border-radius: 15px;
    color: rgb(8, 6, 6);
    padding-left: 30%;
    text-align: center;
    text-decoration: none;
    background-color: whitesmoke;
}

#navbarNav{
    font-size: 15px;
    color: black;
}
.okOk{
  position: fixed;
}
.dropbtn {
    /* background-color: #4CAF50; */
    color: black;
    padding: 12px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: none;
}


/* notice board */
form.exampleNotice input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.exampleNotice button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 5px;
}


/* notice section */
.useful{
  font-family: italic;
  color: black;
}
.useful:hover{
  text-decoration: underline;
  text-decoration-color: #f40a60;
  text-underline-offset: 8px;
}
.usefulLinkColor{
  background-color: #cee8ff;
  /* transform: scale(1.1,1); */
  transform: rotate(3deg);
}
.usefulLinkColor a{
  color: rgb(16, 15, 15);
}
.usefulLinkColor a:hover{
  color: rgb(255, 0, 0);

}
/* home section  */
.homeRightSite{
  background-color: #d9e6f1;
  transform: skewY(30deg);
}
.homeLeftSite{
  background-color: #d9e6f1;
  transform: skewX(20deg);
}


